<div class="search-container">
  <form (ngSubmit)="onSearch()" style="flex-grow: 1; display: flex; align-items: center;">
    <div style="position: relative; flex-grow: 1;">
      <input
        type="text"
        id="search-input"
        [(ngModel)]="query"
        name="query"
        placeholder="Search..."
        required
        autocomplete="off"
        aria-label="Search input"
        (keyup)="onQueryChange(query)"
      />
      <!-- Auto-complete Suggestions -->
      <div *ngIf="suggestions.length > 0" id="autocomplete-suggestions">
        <div
          *ngFor="let suggestion of suggestions"
          class="suggestion-item"
          (click)="query = suggestion; onSearch()"
        >
          {{ suggestion }}
        </div>
      </div>
    </div>

    <select [(ngModel)]="pageSize" name="size" aria-label="Results per page" style="margin-left: 10px;">
      <option [value]="10">10</option>
      <option [value]="20">20</option>
      <option [value]="50">50</option>
    </select>

    <label for="proximity" style="margin-left: 10px;">Proximity Search</label>
    <input
      type="checkbox"
      [(ngModel)]="proximity"
      name="proximity"
      id="proximity"
      aria-label="Proximity Search"
      style="margin-left: 5px;"
    />

    <label *ngIf="proximity" for="proximityDistance" style="margin-left: 10px;">Proximity Range</label>
    <input
      *ngIf="proximity"
      type="range"
      id="proximityDistance"
      [(ngModel)]="proximityDistance"
      name="proximityDistance"
      min="1"
      max="10"
      (input)="updateDistanceValue($event)"
      style="margin-left: 5px;"
    />
    <span *ngIf="proximity">{{ proximityDistance }}</span>

    <label for="semanticSearch" style="margin-left: 10px;">Semantic Search</label>
    <input
      type="checkbox"
      [(ngModel)]="semanticSearch"
      name="semanticSearch"
      id="semanticSearch"
      aria-label="Semantic Search"
      style="margin-left: 5px;"
    />

    <button type="submit" style="margin-left: 10px;">Search</button>
  </form>
</div>

<h1>Search Results for: {{ query }}</h1>

<ul style="list-style-type: none; padding: 0;">
  <li *ngFor="let paper of results" class="result">
    <h2 class="result-title">
      <a [href]="paper.id" target="_blank" rel="noopener noreferrer">{{ paper.title }}</a>
    </h2>
    <div class="result-meta">
      <span>{{ paper.authors }}</span>
      <span>| ({{ paper.published | date: 'yyyy' }})</span>
    </div>
    <p class="result-snippet">{{ paper.summary | slice:0:300 }}...</p>
    <a [href]="paper.pdfLink" class="result-link" target="_blank" rel="noopener noreferrer">Open PDF</a>
  </li>
</ul>

<div class="pagination">
  <div>
    <a *ngIf="currentPage > 0" (click)="changePage(currentPage - 1)">Previous</a>
  </div>
  <div>
    <a *ngIf="results.length === pageSize" (click)="changePage(currentPage + 1)">Next</a>
  </div>
</div>

